.messages {
    margin-bottom: 200px;

    h3 {
        font-size: 1.85rem;
        font-weight: bold;
        text-align: left;
        border-bottom: 1px solid $gray;
        padding-bottom: 30px;
    }
}

.messages form {
    display: flex;
    flex-direction: column;


    input,
    textarea {
        border: none;
        border-bottom: 1px solid $gray;
        margin-bottom: 40px;
    }

    button {
        border: none;
        width: 20%;
        border-bottom: 1px solid $gray;
        padding-bottom: 10px;
        background-color: transparent;
    }
}

.message-button {
    font-weight: bold;
}