section {
    background-color: $light-sage;

    .work-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }

    .img-container {
        position: relative;
    }

    .circ-txt {
        position: absolute;
        top: -45%;
        left: -25%;
    }

    .txt-container {
        display: flex;
        width: 90%;
        padding: 75px 0 125px 0;
    }



}