@media only screen and (max-width: 1024px) {
    nav {
        height: 80vh;
    }

    .media-main-s3 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .icon-gallery1 {
            margin-top: 50px;
            width: 100vw;

            .unique-design,
            .retina-ready,
            .advanced-options {
                align-items: center;
            }
        }

        .icon-gallery2 {
            width: 100vw;

            .seo-marketing,
            .ecommerce-ready,
            .smile {
                align-items: center;
            }
        }
    }

    .unique-design h3::before {
        @include icon-gallery ("\e2ca");
        position: relative;
        top: 0px;
        right: 25px;
    }

    .retina-ready h3::before {
        @include icon-gallery ("\e163");
        position: relative;
        top: 0px;
        right: 25px;
    }

    .advanced-options h3::before {
        @include icon-gallery ("\f1de");
        position: relative;
        top: 0px;
        right: 25px;
    }

    .seo-marketing h3::before {
        @include icon-gallery ("\f276");
        position: relative;
        top: 0px;
        right: 25px;
        padding: 10px 15px 10px 15px;
        // i believe the sizing of the location pin icon is smaller compared to the other icons despite having a font-size of 24px. as a result giving a oval shape rather than a perfect circle. i added some extra padding around the pin to make it more circular.
    }

    .ecommerce-ready h3::before {
        @include icon-gallery ("\f290");
        position: relative;
        top: 0px;
        right: 25px;
    }

    .smile h3::before {
        @include icon-gallery ("\f118");
        position: relative;
        top: 0px;
        right: 25px;
    }

    .main-s3 {
        display: none;
    }


    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .contact-us {
        align-items: center;
        margin-bottom: 50px;
    }

    .twitter {
        align-items: center;
        margin-top: 50px;
    }

    .main-s4 {
        h2 {
            font-weight: bold;
            font-size: 1.85rem;
            padding-bottom: 10px;
            border-bottom: 1px solid $gray;

        }
    }

    .blog-nav-bar {
        height: 60vh;

    }

    .blog-header {
        h2 {
            line-height: 60px;
        }

        .header-txt {
            display: flex;
            flex-direction: column;
        }
    }

    .contact-nav-bar {
        background-position-y: 60%;


        h2 {
            margin-top: 70px;
            margin-left: 225px;
        }
    }

    .contact-details {
        margin: 100px 0px 120px 0px;
    }
}




@media only screen and (max-width: 320px) {
    .nav-bar {
        display: block;

        h1 {
            display: block;
        }
    }

    nav {
        height: 40vh;
        background-size: 100% 100%;
    }

    .main-s1 {
        .circ-txt {
            position: absolute;
            top: -200%;
            left: 0%;
        }

        .img-container {
            margin-top: 100px;
        }

        .txt-container {
            display: flex;
            flex-direction: column;

        }
    }

    .main-s4 {
        h2 {
            line-height: 50px;
        }

        .team-container {
            display: flex;
            flex-direction: column;
        }
    }

    .main-s5 {
        .contact {
            display: flex;
            flex-direction: column;

            .txt-container {
                order: 2;
            }

            .img-container {
                width: 100%;
            }

            .txt-container {
                width: 100%;
            }

            .portfolio {
                margin-bottom: 20px;
            }
        }

    }

    .footer-container {
        .contact-us p {

            white-space: nowrap;
        }
    }

    .blog-nav-bar {

        height: 30vh;
        background-position-y: 100%;
        background-size: contain;
    }

    .blog-header h2 {
        font-size: 1.85rem;
    }

    .related-posts {
        h3 {
            line-height: 40px;

        }

        .img-container {
            display: flex;
            flex-direction: column;
            // position: relative;


            img {
                width: 100%;
            }
        }

        .txt-container {
            .first-img {
                position: absolute;
                top: 3385px;
                width: 70%;
            }

            .sec-img {
                position: absolute;
                top: 3705px;
                width: 70%;
            }

            .third-img {
                // position relative because I wanted to maintain the white spacing.
                position: relative;
                width: 100%;
            }
        }
    }

    .comment-section {
        h3 {
            line-height: 40px;
            text-align: center;
        }

        .first-comment,
        .second-comment {
            display: flex;
            flex-direction: column;

            .img-container img {
                width: 100%;
            }

            .txt-container {
                width: 100%;

                padding: 0;
                padding-bottom: 200px;
                margin: 20px 0px 100px 0px;

                h4:before {
                    top: -7px;
                    left: 30px;
                    // removed the unnecessary borders to show top triangle. Aligned top triangle with comment box.
                    border-right: 7px solid transparent;
                    border-left: 7px solid transparent;
                    border-bottom: 7px solid rgba(51, 51, 51, 0.300);
                    border-top: none;
                }
            }
        }
    }

    .messages {
        h3 {
            line-height: 40px;
            text-align: center;
        }

        form {}
    }

}