.main-s4 {
    h2 {
        padding: 100px 0;
    }
}

.team-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 150px;
    grid-template-areas: "top-txt-container top-txt-container home-5 home-6"
        "home-7 home-8 home-9 bottom-txt-container";

    img {
        // set the minimum width and height to atleast 
        min-width: 100%;
        min-height: 100%;
        display: block;
        object-fit: cover;
    }
}

.top-txt-container {
    grid-area: top-txt-container;
    background-color: $white-two;
    text-align: none;
    // TAN is not working because the body {} css styling cannot be overidden. only option is to remove body css styles and add centering to every typographic element that requires centering.
}

.bottom-txt-container {
    grid-area: bottom-txt-container;
    display: grid;
    align-content: center;
    justify-content: center;
}

.home-5 {
    grid-area: home-5;
}

.home-6 {
    grid-area: home-6;
    background-image: url("./assets/home-6.jpeg");

}

.home-7 {
    grid-area: home-7;
}

.home-8 {
    grid-area: home-8;
}

.home-9 {
    grid-area: home-9;
}



// Attempted to create grid via flexbox however, having difficulties with appropiate alignemnt. 
// .top-row {
//     display: flex;
//     justify-content: center;
//     gap: 20px;
//     max-width: 1280px;

//     // flex-grow: 2;
//     .txt-container {
//         background-color: $white-two;
//         // padding: 30px 5px 10px 5px;
//         width: calc((100% / 3) - 10px);
//         flex-grow: 2;
//     }

//     .img-container {
//         display: flex;
//         gap: 10px;
//     }
// }

// .bottom-row {
//     display: flex;
//     justify-content: center;
//     gap: 20px;
//     max-width: 1280px;
//     margin-top: 10px;
//     padding-bottom: 200px;

//     .img-container {
//         display: flex;
//         gap: 10px;
//     }

//     .txt-container {
//         background-color: white;
//         width: calc((100% / 4) - 10px);
//         flex-grow: 1;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }