html {
    font-size: 125%;
}

body {
    font-family: $body-font;
    font-weight: normal;
    color: $black;
    font-size: 0.7rem;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
    text-align: center;
}


h1 {
    @include font-styles (bold, 1.85rem, 0.9px);
}

h2,
h3,
h4,
h5 {
    @include font-styles (normal, 0.9rem, 1.8px);
    line-height: 24px;
}

button,
a {
    @include font-styles (normal, 0.7rem, 0.7px);
}