html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: rgb(51, 51, 51);
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.85rem;
  letter-spacing: 0.9px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 1.8px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
}

button,
a {
  font-weight: normal;
  font-size: 0.7rem;
  letter-spacing: 0.7px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1280px;
  width: 70%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.skip-link {
  position: absolute;
  left: -200px;
  z-index: 10;
}
.skip-link:focus {
  left: 0px;
}

nav {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-bar ul li {
  padding: 0 10px;
}

.main-s1 {
  background-color: rgb(195, 218, 183);
}
.main-s1 .img-container {
  position: relative;
}
.main-s1 .circ-txt {
  position: absolute;
  top: -45%;
  left: -25%;
}
.main-s1 .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 75px 0 125px 0;
}

.main-s1 .work-panel,
.main-s2 .work-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
}

.main-s2 .work-panel {
  padding-top: 150px;
}
.main-s2 img {
  border-radius: 50%;
}
.main-s2 .txt-container {
  padding-top: 50px;
}
.main-s2 p {
  color: rgba(51, 51, 51, 0.533);
  font-style: italic;
  padding-bottom: 150px;
}
.main-s2 .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: 100px;
}

.main-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/home-4.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-gallery1,
.icon-gallery2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.unique-design h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\e2ca";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.retina-ready h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\e163";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.advanced-options h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f1de";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.seo-marketing h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f276";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
  padding: 10px 15px 10px 15px;
}

.ecommerce-ready h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f290";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.smile h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f118";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.unique-design,
.retina-ready,
.advanced-options,
.seo-marketing,
.ecommerce-ready,
.smile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.unique-design h3,
.retina-ready h3,
.advanced-options h3,
.seo-marketing h3,
.ecommerce-ready h3,
.smile h3 {
  margin: 0;
  padding: 0;
}

.unique-design p,
.retina-ready p,
.advanced-options p,
.seo-marketing p,
.ecommerce-ready p,
.smile p {
  padding-left: 55px;
  width: 80%;
  text-align: left;
  color: rgba(51, 51, 51, 0.533);
  margin-bottom: 3rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(195, 218, 183);
}
.contact .img-container {
  width: 50%;
}
.contact button {
  display: block;
}
.contact .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.contact .txt-container p {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}
.contact .txt-container .portfolio a {
  padding: 10px 30px;
  background-color: white;
  font-weight: bold;
}

.main-s4 h2 {
  padding: 100px 0;
}

.team-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 150px;
  grid-template-areas: "top-txt-container top-txt-container home-5 home-6" "home-7 home-8 home-9 bottom-txt-container";
}
.team-container img {
  min-width: 100%;
  min-height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-txt-container {
  grid-area: top-txt-container;
  background-color: rgb(246, 246, 246);
  text-align: none;
}

.bottom-txt-container {
  grid-area: bottom-txt-container;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-5 {
  grid-area: home-5;
}

.home-6 {
  grid-area: home-6;
  background-image: url("./assets/home-6.jpeg");
}

.home-7 {
  grid-area: home-7;
}

.home-8 {
  grid-area: home-8;
}

.home-9 {
  grid-area: home-9;
}