html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: rgb(51, 51, 51);
  font-size: 0.7rem;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.85rem;
  letter-spacing: 0.9px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 1.8px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
}

button,
a {
  font-weight: normal;
  font-size: 0.7rem;
  letter-spacing: 0.7px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1280px;
  width: 70%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.skip-link {
  position: absolute;
  left: -200px;
  z-index: 10;
}
.skip-link:focus {
  left: 0px;
}

.media-nav-menu {
  display: none;
}

nav {
  background-image: url(../assets/home-1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.blog-nav-bar {
  background-image: url(../assets/blog-1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80vh;
}

.contact-nav-bar {
  background-image: url(../assets/contact-1.jpeg);
  background-size: contain;
  background-position-y: bottom;
  height: 35vh;
}
.contact-nav-bar h2 {
  font-weight: bold;
  font-size: 1.85rem;
  width: 10%;
  margin-left: 300px;
  text-align: left;
  line-height: 40px;
  margin-top: 110px;
}
.contact-nav-bar h2 span {
  border-top: 3px solid rgb(51, 51, 51);
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar .homepage {
  text-decoration: line-through;
}
.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-bar ul li {
  padding: 0 10px;
}

.menu {
  display: none;
  cursor: pointer;
}

.main-s1 {
  background-color: rgb(195, 218, 183);
}
.main-s1 .img-container {
  position: relative;
}
.main-s1 .circ-txt {
  position: absolute;
  top: -45%;
  left: -25%;
}
.main-s1 .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding: 75px 0 125px 0;
}

.main-s1 .work-panel,
.main-s2 .work-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
}

.vertical-line::after {
  content: "";
  position: absolute;
  border-left: 1px solid rgba(51, 51, 51, 0.533);
  height: 100px;
  top: 92%;
  right: 50%;
}

.vertical-line-2 {
  position: relative;
}

.vertical-line-2::after {
  content: "";
  position: absolute;
  border-left: 1px solid rgba(51, 51, 51, 0.533);
  height: 70px;
  top: 0;
  right: 50%;
}

.main-s2 .work-panel {
  padding-top: 150px;
}
.main-s2 img {
  border-radius: 50%;
}
.main-s2 .txt-container {
  padding-top: 50px;
}
.main-s2 p {
  color: rgba(51, 51, 51, 0.533);
  font-style: italic;
  padding-bottom: 150px;
}
.main-s2 .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: 100px;
}

.media-main-s3 {
  display: none;
}

.main-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/home-4.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-gallery1,
.icon-gallery2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

.unique-design h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\e2ca";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.retina-ready h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\e163";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.advanced-options h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f1de";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.seo-marketing h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f276";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
  padding: 10px 15px 10px 15px;
}

.ecommerce-ready h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f290";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.smile h3::before {
  font-family: "Font Awesome 5 Free";
  content: "\f118";
  display: inline-block;
  font-weight: 900;
  border: 2px solid rgb(51, 51, 51);
  font-size: 24px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  top: 50px;
  right: 25px;
}

.unique-design,
.retina-ready,
.advanced-options,
.seo-marketing,
.ecommerce-ready,
.smile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.unique-design h3,
.retina-ready h3,
.advanced-options h3,
.seo-marketing h3,
.ecommerce-ready h3,
.smile h3 {
  margin: 0;
  padding: 0;
}

.unique-design p,
.retina-ready p,
.advanced-options p,
.seo-marketing p,
.ecommerce-ready p,
.smile p {
  padding-left: 55px;
  width: 80%;
  text-align: left;
  color: rgba(51, 51, 51, 0.533);
  margin-bottom: 3rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(195, 218, 183);
}
.contact .img-container {
  width: 50%;
}
.contact button {
  display: block;
}
.contact .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.contact .txt-container p {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}
.contact .txt-container .portfolio a {
  padding: 10px 30px;
  background-color: white;
  font-weight: bold;
}

.blog-main {
  border-top: 1px solid rgba(51, 51, 51, 0.533);
  margin-bottom: 100px;
}
.blog-main p:first-child {
  margin-top: 50px;
}
.blog-main span {
  font-weight: bold;
  text-align: left;
  color: rgb(51, 51, 51);
}
.blog-main p {
  color: rgba(51, 51, 51, 0.533);
  text-align: left;
}
.blog-main .share-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-main .share-icons i {
  padding: 0px 10px;
}

.related-posts h3 {
  font-weight: bold;
  text-align: left;
  font-size: 1.85rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.533);
  padding-bottom: 30px;
}
.related-posts .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.related-posts .img-container img {
  width: 33.3333333333%;
}
.related-posts .img-container p {
  display: none;
}
.related-posts .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.related-posts .txt-container p {
  width: 33.3333333333%;
}

.blog-header h2 {
  font-size: 2.6rem;
  font-weight: bold;
}
.blog-header p {
  text-align: left;
  color: rgba(51, 51, 51, 0.533);
}
.blog-header span {
  color: rgb(51, 51, 51);
}
.blog-header .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-header .author img {
  border-radius: 50%;
  margin-top: 20px;
}
.blog-header .author .header-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}
.blog-header .author .alex,
.blog-header .author .date,
.blog-header .author .category,
.blog-header .author .tags {
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
}
.blog-header .author .alex h5,
.blog-header .author .date h5,
.blog-header .author .category h5,
.blog-header .author .tags h5 {
  text-align: left;
  margin: 0;
}
.blog-header .author .alex p,
.blog-header .author .date p,
.blog-header .author .category p,
.blog-header .author .tags p {
  margin: 0;
}
.blog-header .alex {
  margin-right: 200px;
}
.blog-header .date {
  margin-right: 50px;
}
.blog-header .category {
  margin-right: 50px;
}

.comment-section h3 {
  font-size: 1.85rem;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid rgba(51, 51, 51, 0.533);
  padding-bottom: 30px;
}

.first-comment,
.second-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-comment .txt-container,
.second-comment .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(51, 51, 51, 0.3);
  width: 1000px;
  height: 105px;
  padding-left: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.first-comment .txt-container h4,
.second-comment .txt-container h4 {
  text-align: left;
  font-size: 0.7rem;
  margin: 0;
  position: relative;
}
.first-comment .txt-container h4:before,
.second-comment .txt-container h4:before {
  content: "";
  position: absolute;
  top: 30px;
  left: -33px;
  border: solid 7px transparent;
  border-right-color: rgba(51, 51, 51, 0.3);
}
.first-comment .txt-container p,
.second-comment .txt-container p {
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
  color: rgba(51, 51, 51, 0.533);
}

.contact-details {
  margin: 150px 0px 100px 0px;
  text-align: left;
}
.contact-details h4 {
  text-align: left;
  font-weight: bold;
}
.contact-details p {
  color: rgba(51, 51, 51, 0.533);
}

.contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}
.contact-icons h4,
.contact-icons p {
  text-align: left;
}
.contact-icons .address-icon {
  margin: 0px 100px;
  padding: 0px 50px;
  border-left: 1px solid rgba(51, 51, 51, 0.3);
  border-right: 1px solid rgba(51, 51, 51, 0.3);
}

.in-touch {
  margin: 70px 0px 100px 0px;
}
.in-touch h4 {
  font-weight: bold;
}
.in-touch h4,
.in-touch p {
  text-align: left;
}
.in-touch p {
  color: rgba(51, 51, 51, 0.533);
}

.main-s4 h2 {
  padding: 100px 0;
}

.team-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-bottom: 150px;
  grid-template-areas: "top-txt-container top-txt-container home-5 home-6" "home-7 home-8 home-9 bottom-txt-container";
}
.team-container img {
  min-width: 100%;
  min-height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-txt-container {
  grid-area: top-txt-container;
  background-color: rgb(246, 246, 246);
  text-align: none;
}

.bottom-txt-container {
  grid-area: bottom-txt-container;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-5 {
  grid-area: home-5;
}

.home-6 {
  grid-area: home-6;
  background-image: url("./assets/home-6.jpeg");
}

.home-7 {
  grid-area: home-7;
}

.home-8 {
  grid-area: home-8;
}

.home-9 {
  grid-area: home-9;
}

footer {
  background-color: rgba(0, 0, 0, 0.807);
}
footer h4 {
  margin: 0;
  color: rgb(246, 246, 246);
}
footer h3,
footer li,
footer label,
footer i,
footer p {
  color: rgb(246, 246, 246);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0px 100px 0px;
}
.footer-container .contact-us,
.footer-container .recent-post,
.footer-container .twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact-us p {
  line-height: 0.3px;
}
.contact-us i {
  padding: 10px 10px 0px 0px;
}

.recent-post {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recent-post li {
  text-align: left;
  list-style-type: disc;
  padding-right: 30px;
}

.twitter {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.twitter label {
  padding-bottom: 20px;
}
.twitter input {
  height: 40px;
  width: 250px;
}
.twitter .email-button {
  position: relative;
}
.twitter button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 50px;
  background-color: rgb(195, 218, 183);
  border: none;
}
.twitter button i {
  color: black;
}

.copyright {
  padding: 75px;
  border-top: 1px solid rgba(255, 255, 255, 0.124);
}

.messages {
  margin-bottom: 200px;
}
.messages h3 {
  font-size: 1.85rem;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid rgba(51, 51, 51, 0.533);
  padding-bottom: 30px;
}

.messages form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.messages form input,
.messages form textarea {
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.533);
  margin-bottom: 40px;
}
.messages form button {
  border: none;
  width: 20%;
  border-bottom: 1px solid rgba(51, 51, 51, 0.533);
  padding-bottom: 10px;
  background-color: transparent;
}

.message-button {
  font-weight: bold;
}

.align-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.align-forms input {
  width: 30%;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  nav {
    height: 80vh;
  }

  .vertical-line::after {
    top: 75%;
    right: 50%;
  }

  .media-main-s3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .media-main-s3 .icon-gallery1 {
    margin-top: 50px;
    width: 100vw;
  }
  .media-main-s3 .icon-gallery1 .unique-design,
.media-main-s3 .icon-gallery1 .retina-ready,
.media-main-s3 .icon-gallery1 .advanced-options {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .media-main-s3 .icon-gallery2 {
    width: 100vw;
  }
  .media-main-s3 .icon-gallery2 .seo-marketing,
.media-main-s3 .icon-gallery2 .ecommerce-ready,
.media-main-s3 .icon-gallery2 .smile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .unique-design h3::before {
    font-family: "Font Awesome 5 Free";
    content: "\e2ca";
    display: inline-block;
    font-weight: 900;
    border: 2px solid rgb(51, 51, 51);
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 25px;
  }

  .retina-ready h3::before {
    font-family: "Font Awesome 5 Free";
    content: "\e163";
    display: inline-block;
    font-weight: 900;
    border: 2px solid rgb(51, 51, 51);
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 25px;
  }

  .advanced-options h3::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1de";
    display: inline-block;
    font-weight: 900;
    border: 2px solid rgb(51, 51, 51);
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 25px;
  }

  .seo-marketing h3::before {
    font-family: "Font Awesome 5 Free";
    content: "\f276";
    display: inline-block;
    font-weight: 900;
    border: 2px solid rgb(51, 51, 51);
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 25px;
    padding: 10px 15px 10px 15px;
  }

  .ecommerce-ready h3::before {
    font-family: "Font Awesome 5 Free";
    content: "\f290";
    display: inline-block;
    font-weight: 900;
    border: 2px solid rgb(51, 51, 51);
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 25px;
  }

  .smile h3::before {
    font-family: "Font Awesome 5 Free";
    content: "\f118";
    display: inline-block;
    font-weight: 900;
    border: 2px solid rgb(51, 51, 51);
    font-size: 24px;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: 0px;
    right: 25px;
  }

  .main-s3 {
    display: none;
  }

  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact-us {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }

  .twitter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }

  .main-s4 h2 {
    font-weight: bold;
    font-size: 1.85rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.533);
  }

  .blog-nav-bar {
    height: 60vh;
  }

  .blog-header h2 {
    line-height: 60px;
  }
  .blog-header .header-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-nav-bar {
    background-position-y: 60%;
  }
  .contact-nav-bar h2 {
    margin-top: 70px;
    margin-left: 225px;
  }

  .contact-details {
    margin: 100px 0px 120px 0px;
  }
}
@media only screen and (max-width: 576px) {
  .media-nav-menu {
    display: block;
  }
  .media-nav-menu h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding-top: 10px;
  }
  .media-nav-menu input[type=checkbox],
.media-nav-menu .media-navs {
    display: none;
  }
  .media-nav-menu input[type=checkbox] + label {
    position: absolute;
    top: 0;
    right: 420px;
  }
  .media-nav-menu input[type=checkbox]:checked ~ .media-navs {
    display: inline-block;
    position: relative;
    top: 0px;
    left: -175px;
  }

  .nav-bar {
    display: none;
  }
  .nav-bar h1 {
    display: block;
  }

  nav {
    height: 40vh;
    background-size: 100% 100%;
  }

  .vertical-line::after {
    display: none;
  }

  .main-s1 .circ-txt {
    position: absolute;
    top: -45%;
    left: -20%;
  }
  .main-s1 .img-container {
    margin-top: 30px;
    position: relative;
  }
  .main-s1 .txt-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-s4 h2 {
    line-height: 50px;
  }
  .main-s4 .team-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-s5 .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-s5 .contact .txt-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-s5 .contact .img-container {
    width: 100%;
  }
  .main-s5 .contact .txt-container {
    width: 100%;
  }
  .main-s5 .contact .portfolio {
    margin-bottom: 20px;
  }

  .footer-container .contact-us p {
    white-space: nowrap;
  }

  .blog-nav-bar {
    height: 30vh;
    background-position: bottom;
    background-size: contain;
  }

  .blog-header h2 {
    font-size: 1.85rem;
  }

  .related-posts h3 {
    line-height: 40px;
  }
  .related-posts .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .related-posts .img-container img {
    width: 100%;
  }
  .related-posts .img-container p {
    display: block;
  }
  .related-posts .txt-container {
    display: none;
  }

  .comment-section h3 {
    line-height: 40px;
    text-align: center;
  }
  .comment-section .first-comment,
.comment-section .second-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment-section .first-comment .img-container img,
.comment-section .second-comment .img-container img {
    width: 100%;
  }
  .comment-section .first-comment .txt-container,
.comment-section .second-comment .txt-container {
    width: 100%;
    padding: 0;
    padding-bottom: 200px;
    margin: 20px 0px 100px 0px;
  }
  .comment-section .first-comment .txt-container h4:before,
.comment-section .second-comment .txt-container h4:before {
    top: -7px;
    left: 30px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid rgba(51, 51, 51, 0.3);
    border-top: none;
  }

  .messages h3 {
    line-height: 40px;
    text-align: center;
  }
  .messages .align-forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .messages .align-forms input {
    width: 100%;
  }
  .messages .comment-button {
    width: 100%;
  }

  .contact-nav-bar {
    background-size: 100% 30%;
    background-position-y: 10%;
  }
  .contact-nav-bar h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    height: 25vh;
    margin: 0;
    color: rgba(51, 51, 51, 0.533);
  }

  .contact-details {
    margin-top: 0;
  }
  .contact-details h4,
.contact-details p {
    text-align: center;
  }

  .contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact-icons h4,
.contact-icons p {
    text-align: center;
  }
  .contact-icons .address-icon {
    margin: 0;
    padding: 0;
    border: none;
  }

  .in-touch h4,
.in-touch p {
    text-align: center;
  }
}
@media only screen and (max-width: 320px) {
  .media-nav-menu {
    display: none;
  }

  .nav-bar {
    display: block;
  }
  .nav-bar h1 {
    display: block;
  }

  nav {
    height: 40vh;
    background-size: 100% 100%;
  }

  .main-s1 .circ-txt {
    position: absolute;
    top: -200%;
    left: 0%;
  }
  .main-s1 .img-container {
    margin-top: 100px;
  }
  .main-s1 .txt-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-s4 h2 {
    line-height: 50px;
  }
  .main-s4 .team-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-s5 .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-s5 .contact .txt-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main-s5 .contact .img-container {
    width: 100%;
  }
  .main-s5 .contact .txt-container {
    width: 100%;
  }
  .main-s5 .contact .portfolio {
    margin-bottom: 20px;
  }

  .footer-container .contact-us p {
    white-space: nowrap;
  }

  .blog-nav-bar {
    height: 30vh;
    background-position-y: 100%;
    background-size: contain;
  }

  .blog-header h2 {
    font-size: 1.85rem;
  }

  .related-posts h3 {
    line-height: 40px;
  }
  .related-posts .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .related-posts .img-container img {
    width: 100%;
  }
  .related-posts .txt-container .first-img {
    position: absolute;
    top: 3385px;
    width: 70%;
  }
  .related-posts .txt-container .sec-img {
    position: absolute;
    top: 3705px;
    width: 70%;
  }
  .related-posts .txt-container .third-img {
    position: relative;
    width: 100%;
  }

  .comment-section h3 {
    line-height: 40px;
    text-align: center;
  }
  .comment-section .first-comment,
.comment-section .second-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comment-section .first-comment .img-container img,
.comment-section .second-comment .img-container img {
    width: 100%;
  }
  .comment-section .first-comment .txt-container,
.comment-section .second-comment .txt-container {
    width: 100%;
    padding: 0;
    padding-bottom: 200px;
    margin: 20px 0px 100px 0px;
  }
  .comment-section .first-comment .txt-container h4:before,
.comment-section .second-comment .txt-container h4:before {
    top: -7px;
    left: 30px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid rgba(51, 51, 51, 0.3);
    border-top: none;
  }

  .messages h3 {
    line-height: 40px;
    text-align: center;
  }
  .messages .align-forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .messages .align-forms input {
    width: 100%;
  }
  .messages .comment-button {
    width: 100%;
  }

  .contact-nav-bar {
    background-size: 100% 50%;
    background-position-y: bottom;
    height: 35vh;
  }
  .contact-nav-bar h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgb(246, 246, 246);
  }

  .contact-details {
    margin-top: 100px;
  }
  .contact-details h4,
.contact-details p {
    text-align: center;
  }

  .contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact-icons h4,
.contact-icons p {
    text-align: center;
  }
  .contact-icons .address-icon {
    margin: 0;
    padding: 0;
    border: none;
  }

  .in-touch h4,
.in-touch p {
    text-align: center;
  }
}